  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Let’s Start Sharing Your Story Today!</h2>
              <!-- Calendly badge widget begin -->
              <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
              <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
              <script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/loveyastudios?primary_color=ac28d4', text: 'Book Consulation', color: '#9c47d1', textColor: '#ffffff', branding: true }); }</script>
              <!-- Calendly badge widget end -->
              #<a href="#" class="btn btn-default btn-xl wow tada">Book Consultation</a>
          </div>
      </div>
  </aside>
